@import "materialize";
*{ position : relative; }
html, body{
  background-color : black;
}
$termLineHeight : 16px;
$termFontSize : $termLineHeight - 2;

#letsPlayTerminal{
  position         : absolute;
  background-color : blue;
  top              : 0;
  right            : 0;
  bottom           : 0;
  left             : 0;
  font-family      : 'Source Code Pro', monospace;
  color            : #FFF;
  font-size        : $termFontSize;

  #stdout{
    .line{
      display   : block;
      height    : $termLineHeight;
      font-size : $termLineHeight - 2;
      color: purple;
    }
  }

  #prompt{
    height : $termLineHeight * 2;
    width  : 100%;

    #cursor{
      width            : $termFontSize;
      margin-left      : -1 * $termFontSize / 2;
      background-color : #FFF;
      opacity          : .75;
    }
  }
}
